body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%; 
    height: auto;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;

}
.logo {
    color: #4d5ae5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.logo-accent {
    color: #2E2F42;
}
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:active {
    color: #404BBF;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:focus{
    color: #404bbf;
}
.adress {
    font-style: normal;
}
.adress-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-link:hover{
    color: #404bbf
}
.adress-link:focus{
    color: #404bbf
}
.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 292px;
}
.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing:0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}
.hero-button {
    background-color: #4D5AE5;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    color: #fff;
}
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
    background-color: #F4F4FD;
}
.team-title-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #fff;
}
.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #fff;
}
.portfolio-title-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-footer {
    color: #4d5ae5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;

}
.footer-accent{
    color: #f4f4fd;
}
.team-list{
    background-color: #FFFFFF;
}
